.dendron-embed.mod-empty,
.markdown-source-view.mod-cm6 .cm-content > .dendron-embed.mod-empty {
  display: flex;
  align-items: center;
}

.dendron-embed .dendron-icon {
  --icon-size: var(--icon-s);
}

.dendron-embed.mod-empty .dendron-icon {
  margin: 0px 8px;
}

.dendron-embed.markdown-embed .dendron-icon {
  margin: 4px;
}

.dendron-folder-suggest .suggestion-item {
  word-break: break-all;
}
